ul{
  display: flex;
  justify-content:flex-start;
  column-gap: 20px;
  flex-grow: 2;
}

li{
  list-style-type: none;
}
nav{
  display: flex;
  align-items: center;
  text-align: center;
}

.back-ul{
  justify-content:center;
}

h3{
  margin-top: 1rem;
  margin-right: 1rem;
}
